.cards {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    text-align: center;
    
    
    &__side {
        
        
        font-size: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        height: 50rem;
        transition: all .8s ease;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        
        &--front{
            background-color: $color-white;
        }
        
        &--back{
            
            transform: rotateY(180deg);
            
            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            
            &-2{
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            
            &-3{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
            &-4{
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-5{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
            &-6{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-7{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
            &-8{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-9{
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
        }
    }
    
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    
    &:hover &__side--back {
        transform: rotateY(0);
    }
    //FRONT SIDE STYLING
    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        &--1{
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/artiin1.jpg);
            padding-bottom: 5rem;
        }
        &--2{
            background-image: url(../img/blockchain.jpg);
        }
        &--3{
            background-image: url(../img/IOT.jpg);
        }
        &--4{
            background-image: url(../img/robo.jpeg);
        }
        &--5{
            background-image: url(../img/roboticprocessauto.png);
        }
        &--6{
            background-image: url(../img/HTMLCSS.png);
        }
        &--7{
           background-image: url(../img/cloud.png);
        }
        &--8{
            background-image: url(../img/datascience.png);
        }
        &--9{
            background-image: url(../img/cyber.jpg);
        }
        
    }
    
    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 75%;
        
    }
    
    &__heading-span{
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1{
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .70), rgba($color-secondary-dark, .70));
        }
        &--2{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .70), rgba($color-primary-dark, .70));
        }
        &--3{
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .70), rgba($color-tertiary-dark, .70));
        }
        &--4{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .70), rgba($color-primary-dark, .70));
        }
        &--5{
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .70), rgba($color-tertiary-dark, .70));
            
        }
        &--6{
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .70), rgba($color-secondary-dark, .70));
        }
        &--7{
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .70), rgba($color-tertiary-dark, .70));
        }
        &--8{
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .70), rgba($color-secondary-dark, .70));
        }
        &--9{
             background-image: linear-gradient(to right bottom, rgba($color-primary-light, .70), rgba($color-primary-dark, .70));
        }
     
    }
    
    &__details{
        color: $color-grey-dark;
        text-align: center;
        font-size: 1.5rem;
        padding-top: 2.5rem;
        padding-bottom: 4rem;
        width: 100%;
        border-bottom: 1px solid $color-grey-light-2;
        
    }
    
    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%
    }
    
    &__price-box{
        
        margin-bottom: 0;
        
        color: $color-white;
    }
    
    &__heading-back{
        margin-bottom: 2rem;
        color: $color-grey-dark;
        border-bottom: 1px solid $color-grey-light-2;
    }
    
    &__price-info{
        text-align: left;
        padding-bottom: 5rem;
        font-size: 1.5rem;
        font-weight: 400;
        color: $color-white;
        
        &-l:link,
        &-l:active,
        &-l:visited,
        {
            color: $color-white;
            text-decoration: none;
        }
        &-l:hover{
            box-shadow: 5px 10px 18px rgba(255, 255, 255, 0.37);
        }
        
    }
   
}
.card2{
    padding-bottom: 1.6rem;
}

