.heading-primary
{
    color: whitesmoke;
    text-transform: uppercase;
    backface-visibility: hidden;
    
    
}

.heading-main
{
    display: block;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: inleft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.heading-sub
{
    display: block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    animation-name: inright;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
       
    
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right bottom, rgba(40, 142, 155, 0.97), rgba(235, 224, 87, 0.66));
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    
    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary{
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    &-1:link,
    &-1:active,
    &-1:hover,
    &-1:visited{
        text-decoration: none;
        color: $color-grey-dark;
    }
}

.paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}
